node_modules
.next
out
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
npm-debug.log*
.DS_Store
cache
*.log
apps/api/dist
apps/api/node_modules
apps/web/node_modules
apps/web/.next
apps/api/prisma/migrations
